mixin button(text, hr='#')
	.button-green-wrapper
		a(href=hr).button-green
			.button-green__text-block
				p= text
				.button-green__text-block__circle
					svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30")
						path.button-fill-round(d="M15 0c8.3 0 15 6.7 15 15s-6.7 15-15 15S0 23.3 0 15 6.7 0 15 0z")
						path.button-fill-arrow(d="M13 10l5 5-5 5")
						path.button-fill-arrow.blue(d="M13 10l5 5-5 5")


mixin download_pdf(text)
	.download-wrapper
		a(href="#").download
			svg(class="icon search-icon")
				use(xlink:href="#pdf" xmlns:xlink="http://www.w3.org/1999/xlink")
			.download-text
				p.href= text
				.download-size
					p.download-size .PDF ~24 Мб

mixin download_pdf-white(text)
	.download-wrapper
		a(href="#").download
			svg(class="icon search-icon")
				use(xlink:href="#pdf-white" xmlns:xlink="http://www.w3.org/1999/xlink")
			.download-text
				p.href= text
				.download-size
					p.download-size .PDF ~24 Мб

mixin backButonWrapper (text, hr='#')
	a#back-button-wrapper.back-button(href= hr)= text
		svg(x="0px" y="0px" viewBox="0 0 31 31" style="enable-background:new 0 0 30 30;" xml:space="preserve")
			path(class="back-arrow-green-svg" d="M11.7,8.5l6.6,6.5l-6.6,6.5")
			path(class="back-arrow-green-svg-circle" d="M15,1.2c7.6,0,13.8,6.2,13.8,13.8c0,7.6-6.2,13.8-13.8,13.8C7.4,28.8,1.2,22.6,1.2,15C1.2,7.4,7.4,1.2,15,1.2 M15,0C6.7,0,0,6.7,0,15c0,8.3,6.7,15,15,15c8.3,0,15-6.7,15-15C30,6.7,23.3,0,15,0L15,0z")

//- mixin button(text, hr="#")
//- 	.button-green-wrapper
//- 		a(href=hr).button-green
//- 			.button-green__text-block
//- 				p= text
//- 				.button-green__text-block__circle
//- 			.button-green__text-block
//- 				p= text
//- 				.button-green__text-block__circle