extends _layout2

block title
	title Вакансии Серволюкс
block config
	- var main = false
block content
	#main-screen-wrapper.advancedPage.page2
		#main-first-screen-fading-wrapper
			img(src="/img/6-1/header-img.jpg", alt="").firstScreenFading
		#main-screen
			#main-screen-title
				#title-wrapper.animated.fadeInDownMenu
					h1.title-main.title2 Найдите работу вашей мечты
					.sub-title Более 50 открытых вакансий в группе компаний «Серволюкс».
	#main-content
		.box
			.block
				#jobs-hrefs-box
					.job-href
						span.job-href-title(data-country="0") Беларусь
						.job-counter 76
					.job-href
						a.job-href-title(href="#" data-country="1") Россия
						.job-counter 76
					.job-href
						a.job-href-title(href="#" data-country="2") Другие страны
						.job-counter 76
			.block#jobs-content-wrapper
				.flex-block
					.one-four.flex-lg-width
						.jobs-tags-item-wrapper
							.jobs-tags-item#jobs-profobjects.animateThis(data-anim="fadeInUp")
								.jobs-tags-title-wrapper
									p.jobs-tags-title Профобласти
									svg(class="icon icon-vacancy")
										use(xlink:href="#arrow_filter" xmlns:xlink="http://www.w3.org/1999/xlink")
								.jobs-tags-content-wrapper
									.jobs-tags
										- var jtCount = 12
										- var jtVal = 0
										mixin jobs-tag(text, counter = jtCount, value = jtVal)
											input(type='checkbox' id="'tag_"+ jtVal +"'" value="'" + jtVal + "'")
											label(for="'tag_"+ jtVal +"'").jobs-tag
												p.jobs-tags-inner__text= text
												p.jobs-tags-inner__counter.caption= counter
												input(type='checkbox' value="'" + jtVal + "'")
											- jtCount++
											- jtVal++
										+jobs-tag('Автомобильный бизнес')
										+jobs-tag('Административный персонал')
										+jobs-tag('Банки, инвестиции, лизинг')
										+jobs-tag('Бухгалтерия,  учёт, финансы предприятия')
										+jobs-tag('Инсталляция и сервис')
										+jobs-tag('Маркетинг, реклама, PR')
										+jobs-tag('Медицина, фармацевтика')
										+jobs-tag('Начало карьеры, студенты')
										+jobs-tag('Продажи')
										+jobs-tag('Производство')
										+jobs-tag('Рабочий персонал')
										+jobs-tag('Спортивные клубы, фитнес, салоны красоты')
										+jobs-tag('Строительство, недвижимость')
										+jobs-tag('Транспорт, логистика')
										+jobs-tag('Туризм, гостиницы, рестораны')
										+jobs-tag('Юристы')
							.jobs-tags-item#jobs-regions.animateThis(data-anim="fadeInUp")
								.jobs-tags-title-wrapper
									p.jobs-tags-title Регионы
									svg(class="icon icon-vacancy")
										use(xlink:href="#arrow_filter" xmlns:xlink="http://www.w3.org/1999/xlink")
								.jobs-tags-content-wrapper
									.jobs-tags
										+jobs-tag('Борисов')
										+jobs-tag('Осиповичи')
										+jobs-tag('Смолевичи')
										+jobs-tag('Минск')
										+jobs-tag('Могилёв')
										+jobs-tag('Вилейка')
										+jobs-tag('Дзержинск')
										+jobs-tag('Марьина Горка')
										+jobs-tag('Смолевичи 1')
										+jobs-tag('Фаниполь')
							.jobs-tags-item#jobs-companies.animateThis(data-anim="fadeInUp")
								.jobs-tags-title-wrapper
									p.jobs-tags-title Регионы
									svg(class="icon icon-vacancy")
										use(xlink:href="#arrow_filter" xmlns:xlink="http://www.w3.org/1999/xlink")
								.jobs-tags-content-wrapper
									.jobs-tags
										+jobs-tag('Борисов')
										+jobs-tag('Осиповичи')
										+jobs-tag('Смолевичи')
										+jobs-tag('Минск')
										+jobs-tag('Могилёв')
										+jobs-tag('Вилейка')
										+jobs-tag('Дзержинск')
										+jobs-tag('Марьина Горка')
										+jobs-tag('Смолевичи 1')
										+jobs-tag('Фаниполь')
					.three-four
						#jobs-content-inner-wrapper
							#jobs-content-inner-sorting.animateThis(data-anim="fadeInUp")
								.jobs-content-sorting-finded
									.jobs-content-sorting__text.caption По вашему запросу найдено
									.jobs-content-sorting__bold-text.darker 16 вакансий
								.jobs-content-sorting.-sort
									._text.caption Сортировать по:
									._select-wrapper
										._bold-text.darker.current Датe
										._select-inner-wrapper
											._select
												._select-item.active
													p._bold-text Дате
												._select-item
													p._bold-text Названию от А до Я
												._select-item
													p._bold-text Названию от Я до А
												._select-item
													p._bold-text Возрастанию зарплаты
												._select-item
													p._bold-text Убыванию зарплаты
												._select-item
													p._bold-text Региону от А до Я
												._select-item
													p._bold-text Региону от Я до А
									._arrow.upside
										svg(class="icon icon-vacancy")
											use(xlink:href="#arrow_sort" xmlns:xlink="http://www.w3.org/1999/xlink")
							.clearfix
							#jobs-content-inner-tags.animateThis(data-anim="fadeInUp")
								.jobs-content-inner-tags-wrapper
									.jobs-content-inner-tag
										p._text Автомобильный бизнес
										._close-button
											svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.1 10.2")
												path(d="M9.8.4L5 5.1l4.7 4.7").close-filter-svg
												path(d="M.4.4L5 5.1.4 9.8").close-filter-svg
									.jobs-content-inner-tag
										p._text Административный персонал
										._close-button
											svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.1 10.2")
												path(d="M9.8.4L5 5.1l4.7 4.7").close-filter-svg
												path(d="M.4.4L5 5.1.4 9.8").close-filter-svg
							#jobs-content-inner-content.jobs-content-inner-content
								.jobs-content-inner-content-wrapper
									mixin jobs-item(title='Заголовка нет', subtitle='Серволюкс, 20 июля', price='з/п не указана', city='Беларусь, Смолевичи')
										.jobs-content-inner__item.animateThis(data-anim="fadeInUp")
											a(href='0-1jobs.html').jobs-content-inner__title-wrapper
												.jobs-content-inner__title= title
												.jobs-content-inner__subtitle.caption= subtitle
											.jobs-content-inner__price-wrapper
												.jobs-content-inner__price= price
											.jobs-content-inner__city-wrapper
												.jobs-content-inner__city= city
									+jobs-item('Ветеринарный врач', 'Смолевичи Бройлер, 20 июля', 'от 550 руб.')
									+jobs-item('Бухгалтер в распределительный центр')
									+jobs-item('Финансовый менеджер', 'Смолевичи Бройлер, 20 июля', 'от 600 руб.')
									+jobs-item('Экономист по производству', 'Смолевичи Бройлер, 20 июля', 'от 600 руб.', 'Беларусь, Борисов')
									+jobs-item('Бренд - менеджер')
									+jobs-item('Ветеринарный врач', 'Смолевичи Бройлер, 20 июля', 'от 550 руб.')
									+jobs-item('Бухгалтер в распределительный центр')
									+jobs-item('Финансовый менеджер', 'Смолевичи Бройлер, 20 июля', 'от 600 руб.')
									+jobs-item('Экономист по производству', 'Смолевичи Бройлер, 20 июля', 'от 600 руб.', 'Беларусь, Борисов')
									+jobs-item('Бренд - менеджер')
								a(href="#" data-anim="fadeInUp").more-button.animateThis
									p Показать еще
		.box#parallax.jobs-parallax
			.parallax-img
				.parallax-img-relative
					img(src="/img/6-1/parallax-img.jpg", alt="", data-rellax-speed='2').js-image.rellax
			.block
				.flex-block
					.one-half.animateThis(data-anim="fadeInUp")
						.h2 Не нашли нужную вакансию?
						+download_pdf-white("Скачать шаблон резюме")
					.one-half.animateThis(data-anim="fadeInUp")
						//.h3 Не расстраивайтесь, если не нашли подходящей вакансии в актуальном списке. Возможно, мы просто не подозреваем о необходимости в вашем таланте.
						p.margins В таком случае, пожалуйста, скачайте шаблон резюме и отправьте его на наш e-mail: <a href="mailto:hr@servolux.by">hr@servolux.by</a>
						p.margins Связаться с отделом по подбору персонала можно по телефону: <br> <a class="tell" href="tel:+375297474866"> +375 29 747 48 66 </a>
						//p.margins Ждём ваши отклики!
		.box#company-brands
			.block
				.flex-block
					.one-half.animateThis(data-anim="fadeInLeft")
						p.h2 Наши компании
					.one-half
				include includes/_brands_footer.pug