mixin icon(name)
	svg(class="icon")
		use(xlink:href="#" + name+"" xmlns:xlink="http://www.w3.org/1999/xlink")
	//- include includes/_mixins.pug
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		block title
			title Jade Layout Template
		include includes/_head.pug
	body
		script(type="text/javascript").
			!function(e){function t(o){if(n[o])return n[o].exports;var c=n[o]={exports:{},id:o,loaded:!1};return e[o].call(c.exports,c,c.exports,t),c.loaded=!0,c.exports}var n={};return t.m=e,t.c=n,t.p="/assets/",t(0)}({0:function(e,t,n){n(18),n(19)},18:function(e,t){!function(){"use strict";function e(e,t,n){e.addEventListener?e.addEventListener(t,n,!1):e.attachEvent&&e.attachEvent("on"+t,n)}function t(e){return window.localStorage&&localStorage.font_css_cache}function n(){if(window.localStorage&&window.XMLHttpRequest)if(t(c))o(localStorage.font_css_cache);else{var e=new XMLHttpRequest;e.open("GET",c,!0),e.onreadystatechange=function(){4===e.readyState&&(o(e.responseText),localStorage.font_css_cache=e.responseText,localStorage.font_css_cache_file=c)},e.send()}else{var n=document.createElement("link");n.href=c,n.rel="stylesheet",n.type="text/css",document.getElementsByTagName("head")[0].appendChild(n),document.cookie="font_css_cache"}}function o(e){var t=document.createElement("style");t.setAttribute("type","text/css"),t.styleSheet?t.styleSheet.cssText=e:t.innerHTML=e,document.getElementsByTagName("head")[0].appendChild(t),window.onFontLoad&&window.onFontLoad()}var c=window.fonts_href||"../css/font.css";window.localStorage&&localStorage.font_css_cache||document.cookie.indexOf("font_css_cache")>-1?n():e(window,"load",n)}()},19:function(e,t){}});
		include includes/_svg-template
		//BEGIN out
		.out
			.page__outer
				.page__wrapper
					block config
					header.page__header--wrap
						.page__header.cd-auto-hide-header
							include includes/_header.pug			
					main.page__content
						block content
					footer.page__footer
						include includes/_footer.pug
		.modals
			include includes/_modals.pug
		//END out



		script(src="js/lib.min.js")
		if(chart)
			//For line chart
			script(src="https://d3js.org/d3.v4.min.js")
			script(src="https://rawgit.com/mozilla/metrics-graphics/7b2f88189da8fcba055a4e9af75fe19b837144eb/dist/metricsgraphics.min.js")
			script.
				document.addEventListener('DOMContentLoaded', function () {
					if ($('.graphic-line').length && typeof MG == 'object') {
						$('.graphic-line').filter(function () {
							var thisChart = chartData[$(this).data('t')];
							var chartButton = $('.chart-controls .button'),
								chartCurrent = 0,
								chartParams = {
									data: thisChart[chartCurrent].values,
									animate_on_load: true,
									width: 600,
									height: 500,
									full_width: true,
									full_height: true,
									left: 100,
									y_extended_ticks: true,
									x_extended_ticks: true,
									point_size: 4,
									target: '#' + $(this).attr('id'),
									x_accessor: 'date',
									y_accessor: 'value',
									y_label: thisChart[chartCurrent].title,
									color_accessor: 'v',
									color_type: 'category',
									mouseover: function (d, i) {
										d3.select('#company-chart svg .mg-active-datapoint')
										.text('В ' + (i + 2011) + ' году произведено ' + d.value + ' тыс.тонн')
									}
								}

							chartButton.on('click', function () {
								var _thisChartButton = $(this)
								if (!_thisChartButton.hasClass('active')) {
									chartCurrent = _thisChartButton.data('chart')
								}
								chartParams.data = thisChart[chartCurrent].values
								chartParams.y_label = thisChart[chartCurrent].title
								// change button state
								_thisChartButton.addClass('active').siblings().removeClass('active')
								// update data
								delete chartParams.xax_format
								MG.data_graphic(chartParams)
							})
							MG.data_graphic(chartParams)
						})
					}
				});
			//End for line chart
		if(map)
			//For Google MAP
			script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDcFkgUmSnM7fy40cDnRn8BB_xu1cp7Ros&callback=')
			script(src='js/marker.js')
			//END for google map
		if(chartjs)
			//For tabs chart
			script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js')
			script.
				window.onload = function () {
					if ($('.graphic-tab').length && typeof Chart == 'function') {
						$('.graphic-tab').filter(function () {
							var thisChart = barChartData[$(this).data('t')]
							var barNumber = 0,
								chartOptions = {
									type: 'bar',
									data: thisChart[barNumber],
									options: {
										title: {
											display: true,
											text: thisChart[barNumber].title
										},
										legend: {
											display: true,
											position: 'bottom'
										},
										tooltips: {
											mode: 'index',
											intersect: false
										},
										responsive: true,
										scales: {
											xAxes: [{
												stacked: true,
											}],
											yAxes: [{
												stacked: true,
												ticks: {
													// Include a dollar sign in the ticks
													callback: function (value) {
														return value + " " + thisChart[barNumber].value;
													}
												}
											}]
										}
									}
								}

							let ctx = document.getElementById($(this).attr('id') + '').getContext("2d");
							window.myBar = new Chart(ctx, chartOptions);

							$('#chart-control .button').on('click', function () {
								$(this).siblings().removeClass('active');
								$(this).addClass('active');
								barNumber = $(this).data('chart')
								chartOptions.data = thisChart[barNumber]
								chartOptions.options.title.text = thisChart[barNumber].title
								chartOptions.options.scales.yAxes[0].ticks.callback = function (value) {return value + " " + thisChart[barNumber].value;}
								myBar.update()
							})
						})
					}
				};
			//End for tabs chart
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js")
		script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js')
		script.
			Dropzone.autoDiscover = false;
		script(src="js/common.min.js")